@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(152, 123, 255) 0%, rgb(225, 234, 238) 90%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}


h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 15px;
  min-height: 100dvh;
}

.title {
  margin: 10px 0px;

}
.submit {
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #222;
  padding: 5px;
  margin-left: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #222;
  max-width: 300px; 
  width: 60%;
  font-size: 16px;
  transition: width 1s ease;
}
.inputAdd {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #222;
  max-width: 300px; 
  font-size: 16px;
  width: 60%;
}


.inputAdd:focus {
  width: 90%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;

}

.delete-button, .save-button {
  height: 34px;
  width: 34px;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.delete-button {
  background-color: red;
  color: white;

  border-radius: 5px;
}

input[type=checkbox] {
  accent-color: #00ff0d;

  height: 22px;
  width: 22px;
  cursor: pointer;

}

.save-button {
  background-color: #512da8;
  color: white;

  border-radius: 5px;
}

.save-button:hover {
  background-color: rgb(19, 6, 139);
  transition: 0.3s ease-in;
}

.delete-button:hover {
  background-color: rgb(133, 2, 2);
  transition: 0.3s ease-in;
}

.checkbox {
  zoom: 1.5;
}
@media (max-width: 350px) {
  .container {
    padding: 15px ;
      min-height: calc(100dvh - 30px);
  }
  
}

